/* color for the page */
body {
    background-color:rgb(248, 233, 210);
}
*{
    margin:5px;
}
/* color for header */
h1 {
    color:red;
    margin-top: 10px;
    text-align:center;
    font-family: 'Dancing Script', cursive;
}

h2, h3{
    font-style: italic;
}
/* Click me button */
.center{    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 5ex;
    background-color: rgb(241, 212, 242);
    border: 2px solid firebrick;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}
/* Pseudo-class hover */
.hide{
    display: none;
    position: static;
}
/* Combining Two Selectors */
.center:hover + .hide{
    display: block;
    color: red;
}

.button-position{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* active Pseudo-class */
.active-button{
    color: red;
}

/* Project box */
.title {
    background-color: hsl(173, 70%, 94%);
    position: flex;
    text-align: center;
    width: 20cm;
    border: 5px solid black;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 5vh;
}

/* Attendees box */
.attendees {
    border: 1.25mm solid black;
    position: flex;
    left: 20cm;
    top: 7cm;
    right: 5cm;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    width: 5cm;
    text-align: center;
    border-radius: 2.5vw;
}

.tenor-gif-embed{
    /* width: 250x;
    height: 200px; */
    gap: 10px;
    border: 5p solif black;
    border-radius: 5mm;
}

/* imgCenter */
.img_center{
    display: flex;
    max-width: 100%;
    height: auto;
    min-width: 50%;
}

/* box for project*/
.separate{
    display:flex;
    gap: 20px;
}

/* Agenda */
.agenda{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    border: 5px outset rgb(169, 149, 234);
    border-width: 0.25em;
    border-radius: 5mm;
}

/* Text decoration */
.text-deco{
    text-decoration: underline;
}
/* Inline for nav bar*/ 
.inline-link{
    display: inline;
}
/* Display none */
.none{
    display: none;
}
/* Grid */
.grid-box {
display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px;
  grid-gap: 20px;
  /* background-color: #fff; */
  /* color: #444; */
  }

 /* small boxes inside grid */
.box{
  background-color: rgb(237, 211, 211);
  color: rgb(2, 0, 0);
  border-radius: 5px;
  padding: 10px;
  font-size: 100%;
}

/* Attribute selector */
a[target="color"] {
    background-color: #FFFF00;
}

/* Descendant Combinator */

li {
    list-style-type: disc;
}
  
li li {
    list-style-type: circle;
}

p {
    font-style: oblique;
    font-size: 1em;
}

/* General sibling combinator */
div ~ p {
    color: blue;
}

/* Child combinator */
ol > li {
    font-style: normal;
}

/* id selector */
#pho, #thai, #chinese, #viet, #japan{
    font-style: italic;
}